!!! 5
%html
  %head
    %title= "Group Link"
    %meta{ :content => "Group Link App", :name => "description" }
    %link{ :href => "http://creativecommons.org/licenses/by/3.0/", :rel => "license", :title => "Creative Commons Attribution 3.0 Unported License" }
    %link{ :href => "bootstrap.css", :media => "screen", :rel => "stylesheet" }
    %link{ :href => "http://fonts.googleapis.com/css?family=Archivo+Narrow", :media => "screen", :rel => "stylesheet" }
  %body
    %div.navbar.navbar-inner
      %brand
        Welcome to Group Link
        
      
      %footer
        %p
