!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title GroupLink
      %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
        %meta{:content => "", :name => "description"}
          %meta{:content => "", :name => "author"}
            %script{:type => "text/javascript", :src  => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
            %script{:type => "text/javascript", :src  => "http://www.parsecdn.com/js/parse-1.1.8.min.js"}
            %link{:href => "./assets/css/bootstrap.css", :rel => "stylesheet"}
              :css
                body {
                  padding-top: 20px;
                  padding-bottom: 40px;
                }

                /* Custom container */
                .container-narrow {
                  margin: 0 auto;
                  max-width: 700px;
                }
                .container-narrow > hr {
                  margin: 30px 0;
                }

                /* Main marketing message and sign up button */
                .jumbotron {
                  margin: 60px 0;
                  text-align: center;
                }
                .jumbotron h1 {
                  font-size: 72px;
                  line-height: 1;
                }
                .jumbotron .btn {
                  font-size: 21px;
                  padding: 14px 24px;
                }

                /* Supporting marketing content */
                .marketing {
                  margin: 60px 0;
                }
                .marketing p + h4 {
                  margin-top: 28px;
                }
                  %link{:href => "./assets/css/bootstrap-responsive.css", :rel => "stylesheet"}
                %link{:href => "./assets/ico/favicon.ico", :rel => "shortcut icon"}
                  %link{:href => "./assets/ico/apple-touch-icon-144-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "144x144"}
                    %link{:href => "./assets/ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
                      %link{:href => "./assets/ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
                        %link{:href => "./assets/ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}
  %body
    .container-narrow
      .masthead
        %ul.nav.nav-pills.pull-right
          %li.active
            %a{:href => "#"} Home
          %li
            %a{:href => "#"} Login
          %li
            %a{:href => "#"} Signup
        %h3.muted GroupLink
      %hr
        .jumbotron
          %h1 Super awesome marketing!
          %p.lead Welcome to the best tool for event organizers and attendees to manage, exchange and analyze contacts!
          %a.btn.btn-large.btn-success{:href => "#"} For Event Attendees
          %a.btn.btn-large.btn-warning{:href => "#"} For Event Organizers
        %hr
          .row-fluid.marketing
            .span4
              %h4 What this is
              %p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
            .span4
              %h4 Why it works
              %p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
            .span4
              %h4 Plans and pricing
              %p Maecenas sed diam eget risus varius blandit sit amet non magna.
          %hr
          #footer
            .container
              %p © GroupLink 2012
              %p.muted.credit        
              %ul{:class=>"nav nav-list"}
                %li
                  %a{:href => "http://twitter.com/whatever"} Whatever
                %li
                  %a{:href => "http://twitter.com/whatever"} Facebook
                %li{:class=>"divider"}
                %li
                  %a{:href => "http://twitter.com/whatever"} Twitter
                

    %script{:src =>"./assets/js/jquery.js"}
    %script{:src =>"./assets/js/bootstrap-transition.js"}
    %script{:src =>"./assets/js/bootstrap-alert.js"}
    %script{:src =>"./assets/js/bootstrap-modal.js"}
    %script{:src =>"./assets/js/bootstrap-dropdown.js"}
    %script{:src =>"./assets/js/bootstrap-scrollspy.js"}
    %script{:src =>"./assets/js/bootstrap-tab.js"}
    %script{:src =>"./assets/js/bootstrap-tooltip.js"}
    %script{:src =>"./assets/js/bootstrap-popover.js"}
    %script{:src =>"./assets/js/bootstrap-button.js"}
    %script{:src =>"./assets/js/bootstrap-collapse.js"}
    %script{:src =>"./assets/js/bootstrap-carousel.js"}
    %script{:src =>"./assets/js/bootstrap-typeahead.js"}
    :javascript
        Parse.initialize("ldy6BcBCk7Bs5QabwyL02MRcoqruYkaZQNlbs2EA", "qUp2x4fWl2VOIl6UzchOKtreceynQKGM7wyjCHVN");

        
        var TestObject = Parse.Object.extend("TestObject");
        var testObject = new TestObject();
          testObject.save({foo: "test"}, {
          success: function(object) {
            $(".success").show();
          },
          error: function(model, error) {
            $(".error").show();
          }
        });